
& when (@media-common = true) {
    .cms-page-view {
        .page-header .header.content {
            margin-bottom: 0;
        }

        .page-main {
            padding-left: 0;
            padding-right: 0;
            //background: #fafafa;
        }
    }

    .page-heading-wrap {
        margin: 0;
        background: #fafafa;
        padding: 30px 15px;

        h1 {
            margin: 0;
            font-size: 18px;
        }
    }

}

// Max 767px
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

// Min 767px
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-heading-wrap {
        padding: 30px 3.7%;
    }
}