//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .cms-sitemap {
        .static-page-content-inner .help-content {
            padding: 0;
        }

        .help-tab-list {
            .item.content {
                border: none;
                padding-top: 30px;
            }

            .right-help-page a {
                color: @taupe;
                text-decoration: none;
                border: none;

                &:hover {
                    color: @pink;
                }
            }
        }

        .sitemap-heading {
            font-size: 20px;
            font-weight: bold;
        }

        .sitemap-help {
            a {
                font-weight: normal;
                margin-right: 30px;
            }
        }

    }

}

//
//  Mobile
//  _____________________________________________

// 767px
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

}

//
//  Desktop
//  _____________________________________________

// Min 768px
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}

// Min 992px
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

}

// Min 1440px
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {

}