<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="lx_update_inventory_command" xsi:type="object">Lexim\InventoryIntegration\Console\Command\UpdateInventory</item>
            </argument>
        </arguments>
    </type>
</config>
