// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

// Break points
//@screen__xxs: 320px;
//@screen__xs: 480px;
//@screen__s: 640px;
//@screen__m: 768px;
//@screen__l: 992px;
//@screen__xl: 1440px;

//
//  Theme variables
//  _____________________________________________

//  Messages
@message-global-note__background: @color-yellow-light2;
@message-global-note__border-color: @color-yellow-light3;
@message-global-note__color: @text__color;

@message-global-note-link__color: @link__color;
@message-global-note-link__color-hover: @link__hover__color;
@message-global-note-link__color-active: @link__active__color;

@message-global-caution__background: @color-red9;
@message-global-caution__border-color: none;
@message-global-caution__color: @color-white;

@message-global-caution-link__color: @link__color;
@message-global-caution-link__color-hover: @link__hover__color;
@message-global-caution-link__color-active: @link__active__color;

//  Header
@header__background-color: false;
@header-icons-color: @color-gray56;
@header-icons-color-hover: @color-gray20;

@addto-color: @text__color__muted;
@addto-hover-color: @primary__color;

@minicart-icons-color: @header-icons-color;
@minicart-icons-color-hover: @header-icons-color-hover;

@button__shadow: inset 0 2px 1px rgba(0, 0, 0, .12);

@h1__margin-bottom__desktop: @indent__xl;

//  Footer
@footer__background-color: false;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .page-wrapper {
        min-height: 100vh; // Stretch content area for sticky footer
    }

    //
    //  Top header
    //  ----------------------------------------------
    .on-top-header {
        background: @aqua;

        .on-top-header-inner {
            text-align: center;
            font-size: 14px;
            padding: 10px 0;
            color: #ffffff;

            p, div {
                margin: 0;
                padding: 0;
            }
        }
    }

    //
    //  Header
    //  ---------------------------------------------

    .page-header {
        .header.content {
            .display-flex();
            .align-items(center);
        }

        .logo {
            .display-flex();
            .flex(1);
            min-width: -webkit-min-content;
            padding: 10px 0;

            img {
                height: min-content;
                max-width: max-content;
            }
        }

        .nav-sections {
            display: block;
            height: auto;
            background: transparent;
            min-height: 0;
            margin: 0;
            padding: 0;

            .navigation {
                background: transparent;

                li {
                    margin-bottom: 0;
                    text-transform: uppercase;
                    border: none;
                    color: @gray;
                    font-size: 14px;
                    line-height: 50px;

                    > a {
                        line-height: 1;
                        padding: 0 15px;
                        color: @gray;
                        border: none !important;
                        text-decoration: none;
                        background: transparent !important;

                        > span:not(.ui-icon) {
                            padding-bottom: 3px;
                            border: 0 solid @aqua;
                        }
                    }

                    &:hover .submenu {
                        .display-flex();
                    }

                    &.has-active > a > span:not(.ui-icon),
                    &:hover > a > span:not(.ui-icon) {
                        border-width: 0 0 4px;
                        color: @aqua;
                    }
                }

                .level0 .submenu {
                    height: 50px;
                    padding: 20px 40px;
                    box-shadow: none;
                    border: none;
                    background: @light-aqua;
                    .align-items(center);
                    bottom: -55px !important;
                    left: 50% !important;
                    margin-left: 0 !important;
                    .transform(translateX(-50%));
                    min-width: 0;

                    li {
                        text-transform: capitalize;
                        font-size: 12px;
                        font-weight: normal;

                        span:not(.ui-icon) {
                            border: none;
                        }

                        &.active, &:hover {
                            text-shadow: 0 0 .65px @gray, 0 0 .65px @gray;

                            > a > span:not(.ui-icon) {
                                color: @gray;
                            }
                        }
                    }
                }
            }

        }

        .rightHeader {
            .display-flex();
            .flex(1);
            min-width: -webkit-min-content;
            .justify-content(flex-end);
            .align-items(flex-end);

            .panel.header {

            }


            .header.links {
                position: absolute;
                display: none;
            }

            // wish-list
            .header-wishlist {
                padding: 0 15px;
            }
        }

    }

    //
    //  Footer
    //  ---------------------------------------------
    .fa-facebook-f:before, .fa-facebook:before {
        content: "\f09a";
    }

    .fa-instagram:before {
        content: "\f16d";
    }

    .page-footer {

        .footer.content {
            padding: 5%;

            .footer-inner {

                .block {
                    margin: 0 0 5%;

                    p, a {
                        color: @gray;
                        font-size: 12px;
                        white-space: nowrap;
                        line-height: 1;
                    }

                    p.footer-heading {
                        font-weight: bold;

                    }
                }

                .block.newsletter {
                    input {
                        height: 40px;
                        margin-bottom: 2%;
                    }

                    .control {
                        position: relative;
                        .display-flex();

                        label > span {
                            position: absolute;
                            top: -10px;
                            left: 10px;
                            background-color: #ffffff;
                            padding-left: 5px;
                            padding-right: 5px;
                            color: #7f7c75;
                            font-size: 12px;
                        }

                        .actions {
                            display: inline-block;
                            margin-left: 10px;

                            .primary {
                                border-radius: 0;
                                height: 40px;
                                background: #48c1cb;
                                border: unset;
                                white-space: nowrap;
                                font-size: 10px;
                            }
                        }

                        label {
                            .flex-grow(1);
                        }
                    }

                    .content {
                        margin-top: 20px;
                    }

                }

                .block.social {
                    margin: 0;

                    ul {
                        padding: 0;
                        margin: 0;
                    }

                    ul > li {
                        display: inline-block;
                        padding: 5px;
                    }
                }
            }

            .copyright {
                width: 100%;
                text-align: center;
                display: block;
                padding: 0;
                margin: 0;
                clear: both;
                font-size: 10px;
                white-space: nowrap;
            }
        }
    }

    //
    // Button
    // ----------------------------------------------
    .link-button {
        a {
            width: 150px;
            height: 50px;
            display: block;
            line-height: 50px;
            border: 2px solid @aqua;
            color: @aqua;
            text-align: center;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            text-decoration: none;
        }

        &:hover a,
        a:hover, a:focus {
            background: @aqua;
            color: #ffffff;
        }
    }

    //
    //  Home page
    //  ---------------------------------------------
    .home-hero {
        .hero-item {
            width: 100%;
            float: left;

            &.left {
                padding-bottom: 15px;
            }
        }

        .hero-item-inner {
            position: relative;
            padding-bottom: 130%;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .hero-text-wrap {
            position: absolute;
            left: 7%;
            bottom: 20%;

            h2 {
                font-size: 12px;
                color: #ffffff;
                text-align: center;
                margin: 0;
                padding: 15px 0;
                line-height: 1.4;
            }

            .link-button {
                a {
                    border-color: #ffffff;
                    color: #ffffff;
                    margin: 0 auto;
                }

                &:hover a, a:hover, a:focus {
                    border-color: @aqua;
                }
            }
        }

        .slogan-text {
            clear: both;
            overflow: hidden;

            span {
                float: left;
                clear: both;
                font-size: 36px;
                font-weight: 900;
                color: @aqua;
                letter-spacing: -0.06em;
                line-height: 1;
            }
        }
    }

}

//
//  Desktop
//  _____________________________________________

// min 768px
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    //
    //  Footer
    //  ---------------------------------------------
    .page-footer {

        .footer.content {

            .footer-inner {

                .block {
                    width: 50%;
                    float: left;

                    p, a {
                        font-size: 13px;
                    }
                }

                .block.newsletter {
                    width: 100%;

                    .control {
                        label > span {
                            font-size: 14px;
                        }

                        .actions {
                            .primary {
                                font-size: 12px;
                            }
                        }

                    }
                }

                .block.social {
                    width: 100%;
                }

            }

            .copyright {
                font-size: 12px;
            }
        }
    }

}

// min 992px
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    //
    //  Footer
    //  ---------------------------------------------
    .page-footer {
        .footer.content {
            padding-bottom: 20px;

            .footer-inner {
                overflow: hidden;
                padding-bottom: 20px;

                .block {
                    width: 17%;
                    padding-right: 20px;
                    margin: 0;
                }

                .block.newsletter {
                    width: auto;

                    .control {
                        label > span {
                            font-size: 16px;
                        }

                        .actions {
                            .primary {
                                font-size: 14px;
                                width: 100px;
                                height: 50px;
                            }
                        }

                        label {
                            .flex-grow(unset);
                        }
                    }

                    input {
                        width: 350px;
                        height: 50px;
                    }
                }

                .block.social {
                    width: auto;
                    float: right;
                    padding: 0;
                }

            }
        }
    }
}

// min 1440px
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    //
    //  Footer
    //  ---------------------------------------------
    .page-footer {
        .footer.content {
            padding-top: 40px;
            padding-left: 10%;
            padding-right: 10%;

        }
    }
}