<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/system_file.xsd">
    <system>
        <tab id="searchanise" translate="label" sortOrder="1000">
             <label>Searchanise</label>
        </tab>

        <section id="searchanise" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>General</label>

            <tab>searchanise</tab>
            <resource>Searchanise_SearchAutocomplete::configuration</resource>

            <group id="searchanise_general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>

                <field id="search_input_selector" translate="label comment" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Search input selector</label>
                    <comment>Example: #search</comment>
                </field>
                <field id="enabled_searchanise_search" translate="label comment" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Searchanise for full-text search</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[Disable in case of invalid search operation.<br>The instant search widget will <strong>remain active</strong>.]]>
                    </comment>
                </field>
                <field id="cron_async_enabled" translate="label comment" sortOrder="20" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable cron async</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ajax_async_enabled" translate="label comment" sortOrder="30" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable ajax async</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="object_async_enabled" translate="label comment" sortOrder="40" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable object async</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sync_mode" translate="label comment" sortOrder="50" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sync mode</label>
                    <source_model>Searchanise\SearchAutocomplete\Model\Config\Source\SyncModes</source_model>
                </field>
                <field id="use_direct_image_links" translate="label comment" sortOrder="55" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use direct images links</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        Catalog should be re-indexed on Catalog->Searchanise page after changes.
                    </comment>
                </field>
                <field id="summary_attr" translate="label comment" sortOrder="56" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description attribute</label>
                    <source_model>Searchanise\SearchAutocomplete\Model\Config\Source\DescriptionAttr</source_model>
                    <comment>
                        Catalog should be re-indexed on Catalog->Searchanise page after changes
                    </comment>
                </field>

                <!-- Hidden fields bellow -->
                <field id="service_url" translate="label comment" sortOrder="60" type="text" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Service Url</label>
                    <comment>Example: http://www.searchanise.com</comment>
                </field>
                <field id="max_processing_time" translate="label" sortOrder="70" type="text" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Max processing time</label>
                </field>
                <field id="request_timeout" translate="label comment" sortOrder="80" type="text" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Request timeout</label>
                </field>
                <field id="async_memory_limit" translate="label comment" sortOrder="90" type="text" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Async memory limit</label>
                    <comment>Example: 512</comment>
                </field>
                <field id="api_key" translate="label comment" sortOrder="100" type="text" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>API Key</label>
                    <comment>Searchanise api key</comment>
                </field>
                <field id="auto_install_initiated" translate="label" sortOrder="110" type="select" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Auto installed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="private_key" translate="label comment" sortOrder="120" type="text" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Private key</label>
                </field>
                <field id="parent_private_key" translate="label comment" sortOrder="130" type="text" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Parent private key</label>
                </field>
                <field id="server_version" translate="label comment" sortOrder="140" type="text" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Server version</label>
                </field>
                <field id="last_request" translate="label comment" sortOrder="150" type="text" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Last request</label>
                </field>
                <field id="last_resync" translate="label comment" sortOrder="160" type="text" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Last resync</label>
                </field>
                <field id="export_status" translate="label comment" sortOrder="170" type="text" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Export status</label>
                </field>
                <field id="max_error_count" translate="label comment" sortOrder="180" type="text" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Max error count</label>
                </field>
                <field id="max_search_request_length" translate="label comment" sortOrder="190" type="text" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Max search request length</label>
                </field>
                <field id="search_timeout" translate="label comment" sortOrder="200" type="text" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Search timeout</label>
                </field>
                <field id="products_per_pass" translate="label comment" sortOrder="210" type="text" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Products per pass</label>
                </field>
                <field id="categories_per_pass" translate="label comment" sortOrder="220" type="text" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Categories per pass</label>
                </field>
                <field id="pages_per_pass" translate="label comment" sortOrder="230" type="text" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Pages per pass</label>
                </field>
                <field id="notification_async_completed" translate="label comment" sortOrder="240" type="select" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Notification async completed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="results_widget_enabled" translate="label comment" sortOrder="250" type="select" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Results widget enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_full_feed" translate="label comment" sortOrder="260" type="select" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Use full feed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="installed_module_version" translate="label comment" sortOrder="270" type="text" showInDefault="0" showInWebsite="0" showInStore="0">
                    <label>Installed module version</label>
                </field>
            </group>
        </section>
    </system>
</config>