<?xml version="1.0"?>
<!--
/**
 * @company Lexim Global
 * @author Samuel Kong
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Override Model - Report collection -->
    <preference for="Magento\Reports\Model\ResourceModel\Quote\Collection"
                type="Lexim\Override\Model\ReportQuoteCollection"/>

    <!-- Sort -->
    <preference for="Magento\Catalog\Block\Product\ProductList\Toolbar" type="Lexim\Override\Block\Toolbar" />

</config>